html,
body {
    background-image: url("../../images/homebg.png");
    background-repeat: repeat-y;
    font-size: 16px;
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    width: 75vw;
    margin: 0 auto;
}
.appHeader{
    height: 10vh;
}